body {
   margin: 0;
   background-color: whitesmoke;
}

main>div {
   display: block;
   padding-bottom: 10vmin;

}

/* ----- Button Hover Animation 1 -----*/

#hvr-btn-1 {
   display: grid;
   grid-template-columns: auto auto auto;
   align-items: center;
   margin: calc(2rem + 1vw) 0;
   justify-content: space-around;
}

.hvr-1-animation {
   font-size: 16px;
   color: #1a1919;
   background-color: transparent;
   border: 1px solid #1a1919;
   border-radius: 50px;
   padding: 32px 48px;
}

.hvr-1-animation:hover {
   color: antiquewhite;
}

.hvr-1-animation::before {
   content: "";
   position: absolute;
   height: 84px;
   background-color: rgb(254, 43, 188);
   border-radius: 50px;
   translate: -46px -29px;
   z-index: -1;
   transition: translate 400ms;
}

#hvr-1-btn1::before {
   width: 160px;
}

#hvr-1-btn2::before {
   width: 236px;
}

#hvr-1-btn3::before {
   width: 188px;
}

.hvr-1-animation:hover::before {
   background-color: rgb(0, 221, 255);
   translate: -49px -32px;
}

/* ----- Button Hover Animation 2 -----*/

#hvr-btn-2 {
   margin-top: 2rem;
   display: flex;
   justify-content: center;
}

#hvr-2-btn {
   position: absolute;
   border: none;
   color: antiquewhite;
   font-size: large;
   width: 10rem;
   height: 5rem;
   border-radius: 3rem;
   background: linear-gradient(
         90deg,
         #3a86ff,
         #ff006e,
         #ffbe0b,
         #3a86ff
      );
   background-size: 300%;
   text-transform: uppercase;
   cursor: pointer;
   z-index: 1;
}

#hvr-2-btn::before {
   content: "";
   position: absolute;
   z-index: -1;
   top: -5px;
   left: -5px;
   bottom: -5px;
   right: -5px;
   background: linear-gradient(
         90deg,
         #3a86ff,
         #ff006e,
         #ffbe0b,
         #3a86ff
      );
   background-size: 400%;
   border-radius: 3.5rem;
   transition: 1.5s;

}

#hvr-2-btn:hover {
   animation: animation 8s linear infinite;
   border: none;
}

@keyframes animation {
   0% { background-position: 0%;}
   100% { background-position: 400%;}
}

#hvr-2-btn:hover::before {
   filter: blur(20px);
}

/* ----- Reponsiveness -----*/

@media screen and (max-width: 720px) {
   #hvr-btn-1 {
      display: flex;
      justify-content: center;
   }

   #hvr-1-btn2,
   #hvr-1-btn3 {
      display: none;
   }
}